body {
  margin: 0;
  min-height: 100vh;
  --bg-color: #e3eff7;
  background-color: var(--bg-color);
  --center-width: 90%;
  --greenBlue: #037c63;
  --blue: #1984c6;
  --textColor: #60727f;
  --gradientBg: linear-gradient(to right, var(--greenBlue), var(--greenBlue), var(--blue), var(--blue));
}

nav {
  --navHeight: 65px;
  background: var(--gradientBg);
  width: 100%;
  height: 65px;
}

.nav-content {
  width: 90%;
  height: var(--navHeight);
  margin: auto;
  position: relative;
  display: flex;
  align-items: center;
}

h1.logo {
  display: inline-block;
  font-family: Montserrat;
  color: white;
  height: 50px;
  --logoPadding: 15px;
  padding-left: var(--logoPadding);
  line-height: 50px;
  vertical-align: middle;
}

.audio-player {
  width: 100%;
  right: 0;
  position: absolute;
}

.center-content {
  width: var(--center-width);
  height: 100%;
  position: relative;
  margin: auto;
  display: flex;
  justify-content: space-around;
}

#left-side {
  flex-basis: 10%;
  flex-grow: 2;
  position: relative;
  padding: 10px;
}

#right-side {
  flex-basis: 10%;
  flex-grow: 1;
  padding: 10px;
  max-height: 100%;
  position: relative;
}

.song-div {
  background-color: #d5e9f2;
  width: 85%;
  height: 70vh;
  padding: 5px;
  margin: auto 0 auto auto;
  border-style: solid;
  border-width: 5px;
  border-color: var(--blue);
  border-radius: 4px;
  position: relative;
}

.song-list-header {
  --darkBlue: #1f609e;
  text-align: center;
  font-family: Montserrat;
  color: var(--darkBlue);
  border-bottom-style: solid;
  border-bottom-color: var(--darkBlue);
  border-bottom-width: 2px;
  padding: 5px;
  margin: 5px 0 5px 0;
}

.song-list {
  overflow: auto;
  height: 80%;
}

.searchbar {
  position: absolute;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

#pac-input {
  display: inline-block;
  padding: 7px;
  font-family: Montserrat;
  width: 50%;
  height: 40px;
  outline: none;
  border-radius: 25px;
  border-width: 0;
  border-style: none;
  background: linear-gradient(to right, #c5e5de, #c5e5de, #a5d8f7);
  color: var(--textColor);
  padding-left: 20px;
  margin: auto;
}

#pac-input::placeholder {
  color: var(--textColor);
}

#pac-input:focus {
  background: white;
}

#map {
  width: 100%;
  height: 100%;
  border-style: solid;
  border-width: 5px;
  border-color: var(--greenBlue);
  border-radius: 4px;
  text-align: center;
  font-family: Lato;
  font-size: 20px;
  margin-left: 0;
  position: relative;
  box-sizing: border-box;
}

#description {
  font-family: Roboto;
  font-size: 15px;
  font-weight: 300;
}

#infowindow-content .title {
  font-weight: bold;
}

#infowindow-content {
  display: none;
}

#map #infowindow-content {
  display: inline;
}

.pac-card {
  margin: 10px 10px 0 0;
  border-radius: 2px 0 0 2px;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  outline: none;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.3);
  background-color: #fff;
  font-family: Roboto;
}

.pac-container {
  padding-bottom: 12px;
  margin-right: 12px;
  border-radius: 25px;
  padding: 10px;
}

.pac-container::after {
  display: none;
}

.pac-item {
  height: 50px;
  line-height: 50px;
  vertical-align: middle;
}

.pac-item-query {
  font-size: 16px;
  font-style: Montserrat;
}

.pac-icon {
  vertical-align: middle;
}

.pac-controls {
  display: inline-block;
  padding: 5px 11px;
}

.pac-controls label {
  font-family: Roboto;
  font-size: 13px;
  font-weight: 300;
}

#title {
  color: #fff;
  background-color: #4d90fe;
  font-size: 25px;
  font-weight: 500;
  padding: 6px 12px;
}
#target {
  width: 345px;
}

.option-boxes {
  width: 250px;
  height: 150px;
  font-family: Montserrat;
  font-size: 16px;
  min-width: 200px;
  min-height: 75px;
  margin-bottom: 5px;
  background-color: white;
  border-radius: 3px;
  border-width: 0;
}

.options {
  outline: none;
  width: 200px;
  line-height: 120px;
  vertical-align: middle;
  display: flex;
  align-items: center;
}

button {
  cursor: pointer;
}

.options button:hover {
  background-color: #f2dd9f;
}

.options button p {
  font-family: Lato;
  font-weight: bold;
}

.alloptions {
  display: none;
  max-width: 70%;
  margin: auto;
  text-align: center;
  padding: 10px;
  background-color: rgba(255, 255, 255, 0.25);
  border-color: var(--bg-color);
  border-style: solid;
  border-width: 3px;
  border-radius: 2px;
  color: white;
  font-family: Lato;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
}

.button {
  font-family: Montserrat;
  color: white;
  background-color: rgba(255, 255, 255, 0.25);
  border-color: var(--bg-color);
  border-style: solid;
  display: flex;
  flex-wrap: wrap;
}

.vicinity {
  font-size: 14px;
}

footer#orig-footer {
  width: 100%;
  height: 120px;
  position: absolute;
  bottom: 0;
  display: flex;
  align-items: center;
}

.music-bar {
  width: 75%;
  height: 65px;
  margin: auto;
  background-color: var(--greenBlue);
  border-radius: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
}

i.fa {
  color: white;
  font-size: 20px;
  margin: 0 15px;
  cursor: pointer;
}

i.fa-play {
  font-size: 25px;
}

.add-songs {
  position: absolute;
  width: calc(100% - 15px);
  height: 30px;
  bottom: 5px;
  background-color: #a5d8f7;
  border-radius: 3px;
  --searchSongWidth: 85%;
}

#search-songs {
  display: inline-block;
  width: var(--searchSongWidth);
  height: 100%;
  border-style: none;
  color: var(--textColor);
  padding-left: 5px;
  background: transparent;
}

#search-songs::placeholder {
  color: var(--textColor);
}

button#post-song {
  width: calc(98% - var(--searchSongWidth));
  border-width: 0;
  height: 100%;
  color: white;
  font-size: 16px;
  padding: 0;
  float: right;
  background: var(--blue);
}

.track, .no-songs {
  background-color: white;
  width: 95%;
  margin: 8px auto;
  height: 60px;
  font-size: 18px;
  font-family: Lato;
  display: flex;
  align-items: center;
  cursor: pointer;
}

.track:hover {
  background-color: #e5e5e5;
}

.track > p {
  color: black;
  flex-grow: 1;
  margin-left: 4px;
  overflow-x: hidden;
}

.track > img {
  float: right;
  margin-right: 4px;
}

.selected > p {
  color: blue;
}

.no-songs {
  text-align: center;
  padding: 5px;
}
