<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    {% load static %}
    <meta charset="utf-8">
    <title>GeoRadio</title>
    <link href="https://fonts.googleapis.com/css?family=Lato:400,700|Montserrat:300,400" rel="stylesheet">
    <link rel="stylesheet" href='{% static "home/style.css" %}' type="text/css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src='{% static "home/app.js" %}'></script>
  </head>
  <body>
    <nav>
      <div class="nav-content"> <!-- Center the navbar content -->
        <a href="."><h1 class="logo">GeoRadio</h1></a>
        <div class="searchbar">
          <input type="text" id="pac-input" name="dest-search" placeholder="Search for a destination...">
        </div>
      </div>
    </nav>
    <div class="center-content">
      <div id="left-side">
        <div id="map">
          Map is loading...
        </div>
        <script src='{% static "home/map.js" %}'></script>
        <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAhQfMo_WF9YjXqjv8OJhjDRGsNtS2ADMU&libraries=places&callback=initAutocomplete"
        async defer></script>
      </div>
      <div id="right-side">
        <div class="song-div">
          <h2 class="song-list-header">Songs for Location</h2>
          <div class="add-songs">
            <input id="search-songs" type="text" placeholder="Search for a song to add">
            <button type="button" name="search-song" id="search-song">Search</button>
            <div class="suggestions"></div>
          </div>
          <div class="song-list">
            {% if not playlist %}
              <div class="no-songs">
                No one has posted in this location yet. You can be the first!
              </div>
            {% else %}
              {% for track in playlist %}
                <div class="track">
                  <p src="{{track.1}}">{{track.0}}<span class="artist">{{track.3}}</span></p>
                  <img src="{{track.2}}" width=50 height=50>
                </div>
              {% endfor %}
            {% endif %}
          </div>
        </div>
      </div>
    </div>
  </body>
  <footer id="orig-footer">
      <div class="music-bar">
        <audio id="music-player" src="#">
          Your browser does not support the <code>audio</code> element.
        </audio>
        <i class="fa fa-step-backward"></i>
        <i class="fa fa-play"></i>
        <i class="fa fa-step-forward"></i>
      </div>
  <footer>
</html>
